<h1 class="page-title">GitHub Repository Search</h1>
<%= form_with url: repos_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search", class: "search-input" %>
  <%= form.submit "Search", class: "search-button" %>
<% end %>
<div id="results">
  <table class="repository-table">
    <thead>
      <tr>
        <th class="table-header">Name</th>
        <th class="table-header">Description</th>
        <th class="table-header">Link</th>
      </tr>
    </thead>
    <tbody id="repo-list">
      <% @repos.each do |repo| %>
        <tr class="table-row">
          <td class="table-cell"><%= repo['name'] %></td>
          <td class="table-cell"><%= repo['description'] %></td>
          <td class="table-cell"><a href="<%= repo['html_url'] %>" class="repo-link"><%= repo['html_url'] %></a></td>
        </tr>
      <% end.presence || begin %>
        <tr>
          <td colspan="3" style="text-align: center; padding: 1rem">No results found</td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <%= paginate @repos %>
  
</div>
